---
layout: articles
titles:
    # @start locale config
    en      : &EN       Python
    en-AU   : *EN
    zh-Hans : &ZH_HANS  Python
    zh      : *ZH_HANS
    zh-CN   : *ZH_HANS
    zh-SG   : *ZH_HANS
    fr      : &FR       Python
    # @end locale config
sidebar:
    nav: Study
---

<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "_python" %}
        {% for post in cat[1] %}
        {{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        <br>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>

