---
layout: articles
titles:
    # @start locale config
    en      : &EN       Summary of Work
    en-GB   : *EN
    en-US   : *EN
    en-CA   : *EN
    en-AU   : *EN
    zh-Hans : &ZH_HANS  工作总结
    zh      : *ZH_HANS
    zh-CN   : *ZH_HANS
    zh-SG   : *ZH_HANS
    fr      : &FR       Summary of Work
    fr-BE   : *FR
    fr-CA   : *FR
    fr-CH   : *FR
    fr-FR   : *FR
    fr-LU   : *FR
    # @end locale config
sidebar:
    nav: Work
---

<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "_summary" %}
        {% for post in cat[1] %}
        {{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        <br>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>

